section {
    min-height: 60vh;
}

/* 过渡层的样式 */
.transition {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    pointer-events: none;
}

.transition-row {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
}

.transition-row.row-1 .blockt {
    margin: 0;
    padding: 0;
    transform-origin: top;
}

.transition-row.row-2 .blockt {
    margin: 0;
    padding: 0;
    transform-origin: bottom;
}

.blockt {
    margin: 0;
    padding: 0;
    flex: 1 0 20%;
    background-color: rgb(166, 84, 241);
    backface-visibility: hidden;
    transform: scaleY(1);
    /* will-change: transform; */
}


/* .navbar-item {
    border-radius: 20px;
}

.navbar-item:hover {
    transform: scale(1.1);
}

.icon-gonggao09 {
    color: rgb(185, 185, 185);
}

.a-anounce:hover {
    background-color: rgba(185, 185, 185, 0.2);
}

.icon-a-lujing37238 {
    color: rgb(88, 169, 240);
}

.a-rule:hover {
    background-color: rgb(88, 169, 240, 0.2);
}

.icon-xunzhang {
    color: rgb(223, 226, 58);
}

.a-prize:hover {
    background-color: rgb(223, 226, 58, 0.2);
}

.icon-terminal-box-fill {
    color: rgb(252, 144, 144);
}

.a-kaifa:hover {
    background-color: rgb(252, 144, 144, 0.2);
}

.icon-renminbi1 {
    color: rgb(85, 241, 202);
}

.a-serve:hover {
    background-color: rgb(85, 241, 202, 0.2);
}

.icon-huodong {
    color: rgb(240, 137, 40);
}

.a-activity:hover {
    background-color: rgb(240, 137, 40, 0.2);
}

.icon-name {
    font-weight: 700;
}

.navbar-link {
    border-radius: 20px;
} */


/* 字体样式 */
.btitle {
    font-size: 40px;
}

.strong {
    color: rgb(166, 84, 241);
    font-weight: 700;
}

.sa {
    text-decoration: underline;
}










/* 深浅转换 */
[data-theme=light],
.theme-light {
    .icon-name {
        color: #202020;
    }

    .s1 {
        color: #202020;
    }

    .is-risecolor {
        background-color: #f5f5f5;
    }

    .theme-switch {
        background-color: #f5f5f5;
    }

    .theme-switch:hover {
        background-color: #7c7c7c46;
    }

    .navbar {
        background-color: transparent;
    }

    .navbar-item {
        background-color: transparent;
    }

    .footerlink-button {
        background-color: rgb(191, 124, 253);
    }

    .ga {
        color: #6e6e6e;
        font-weight: 500;
    }

    .ga:hover {
        color: rgb(144, 35, 247);
        font-weight: 700;
    }

}

/* 深色模式 */
[data-theme=dark],
.theme-dark {
    .icon-name {
        color: aliceblue;
    }

    .s1 {
        color: aliceblue;
    }

    .is-risecolor {
        background-color: #202020;
    }

    .theme-switch {
        background-color: #202020;
    }

    .theme-switch:hover {
        background-color: #7c7c7c46;
    }

    .navbar {
        background-color: transparent;
    }

    .navbar-item {
        background-color: transparent;
    }

    .footerlink-button {
        background-color: rgb(166, 84, 241);
    }

    .ga {
        color: #aaaaaa;
        font-weight: 500;
    }

    .ga:hover {
        color: rgb(166, 84, 241);
        font-weight: 700;
    }
}