.btitle{
    font-size: 40px;
}
.servescontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.serveproject{
    width: 70%;
    margin-top: 5vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.para{
    font-size: x-large;
}
.introduce{
    margin-top: -25px;
}
.image-container{
    width: auto;
    /* height: 25vh; */
    /* border-radius: 40px; */
    /* overflow: hidden; */
}
.image-showed{
    height: 25vh;
    /* border-radius: 15%; */
}

.cont-2{
    margin-top: 5vh;
}



.joke{
    color: rgb(165, 165, 165);
    text-decoration: line-through 4px rgb(166, 84, 241) solid ;
}
